examples/Client-side code/FE Router Test.json
[
    {
        "id": "858a25ec633e15aa",
        "type": "tab",
        "label": "FE Router Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f21209a191164954",
        "type": "group",
        "z": "858a25ec633e15aa",
        "name": "Base setup",
        "style": {
            "fill": "#ffffbf",
            "fill-opacity": "0.12",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "91d0333d46f8e7f4",
            "980cfa1b7c1b3a5f",
            "13bb356399138c24",
            "59925a9e660a9e95",
            "43e63c95d634a048",
            "eb268d3e884b4b1c",
            "09151d9dbab7fce8",
            "e610deb0d3b69094",
            "9606554c9605cf4d",
            "8457d8b3ac1857e5",
            "a3c8fd673e19703a"
        ],
        "x": 34,
        "y": 119,
        "w": 922,
        "h": 182
    },
    {
        "id": "877f1fc905614aab",
        "type": "group",
        "z": "858a25ec633e15aa",
        "name": "Front-end Code - Run after the base node has been deployed. Sets up FE code and routes. \\n See index.js for more example code and why one route deliberately errors.",
        "style": {
            "label": true,
            "stroke": "#a4a4a4",
            "fill-opacity": "0.33",
            "color": "#000000",
            "fill": "#ffffff"
        },
        "nodes": [
            "8fe9cca36746933e",
            "b90be49846f3f6ba",
            "95521b5e3f43c779",
            "458a4019ee805475",
            "0b263d2d25010d6d",
            "8af6244dc82f99f2",
            "631bd40ef94fd12c",
            "d975894b5c20ed71",
            "5d7e4ff16bfbb57f",
            "187c7c166b0792f5",
            "caafd04f335931d9",
            "47de9c4ae8e037a2",
            "4ba799cdfa5b4f0a",
            "b0a9818541821eab",
            "e4590ec06ae7df56",
            "c4b89d6b9c839670",
            "a7fbc55cdbcb5276",
            "b71e0313aa768758",
            "013554e8eb6f827c",
            "bece28fe9f3d134f",
            "50c07b1507646cb1",
            "01bcb655e5f9e24c",
            "83a17f2b3da8c36b",
            "db720cf9b976ecff",
            "aaa732cecf64de8d"
        ],
        "x": 34,
        "y": 303,
        "w": 872,
        "h": 578
    },
    {
        "id": "b2e2e4f4a60fd9b5",
        "type": "group",
        "z": "858a25ec633e15aa",
        "name": "Dynamically add a new route template & route config (NB: Config update currently only possible in front-end code, see index.js) \\n Note 2 separate msgs because 2nd needs to use the msg.payload. Each must have a separate topic and the msg._ui must be deleted for the 2nd msg.",
        "style": {
            "fill": "#e3f3d3",
            "fill-opacity": "0.21",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cb8dd79b4401d55b",
            "27be3cdf555eda2d",
            "ec6df20997951cf7",
            "ecab20dc9292cda8",
            "0b2acae2bf016a98",
            "4cdd6baae105795e",
            "b27f8c5030eac36f"
        ],
        "x": 34,
        "y": 903,
        "w": 1082,
        "h": 138
    },
    {
        "id": "42ec81af91b01446",
        "type": "group",
        "z": "858a25ec633e15aa",
        "name": "Example of changing route from Node-RED using UIBUILDER remote navigation command",
        "style": {
            "fill": "#ffffff",
            "fill-opacity": "0.23",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e22db07169092461",
            "e19d149f7048e3ac"
        ],
        "x": 34,
        "y": 1079,
        "w": 652,
        "h": 82
    },
    {
        "id": "64f27f70317addeb",
        "type": "group",
        "z": "858a25ec633e15aa",
        "name": "Example of using a `uib-topic` attribute in HTML and sending dynamic changes from Node-RED",
        "style": {
            "fill": "#ffefbf",
            "fill-opacity": "0.21",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "fd13d17eae4944b8",
            "7ec20bc2227746fd"
        ],
        "x": 34,
        "y": 1219,
        "w": 652,
        "h": 82
    },
    {
        "id": "bf7634abe1ae0a29",
        "type": "group",
        "z": "858a25ec633e15aa",
        "name": "While you CAN load libraries from Node-RED, it isn't recommended as it may not be loaded soon enough",
        "style": {
            "fill": "#ff0000",
            "fill-opacity": "0.17",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "53caac08d362a64b",
            "7c2e4dc3a5fc37d1",
            "347fadaaa2da1289"
        ],
        "x": 34,
        "y": 1359,
        "w": 660,
        "h": 122
    },
    {
        "id": "576f9015b0f83003",
        "type": "group",
        "z": "858a25ec633e15aa",
        "name": "Flow to auto-generate a menu based on route files",
        "style": {
            "fill": "#ffffbf",
            "fill-opacity": "0.44",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "aa66551307e3b6d4",
            "69ffcae200b26246",
            "882dc0259aea61b7",
            "049f08e41bfc252a",
            "2534986f7eb3b773",
            "c4974a063051a853"
        ],
        "x": 74,
        "y": 1579,
        "w": 1092,
        "h": 142
    },
    {
        "id": "e610deb0d3b69094",
        "type": "junction",
        "z": "858a25ec633e15aa",
        "g": "f21209a191164954",
        "x": 420,
        "y": 160,
        "wires": [
            [
                "980cfa1b7c1b3a5f"
            ]
        ]
    },
    {
        "id": "bece28fe9f3d134f",
        "type": "junction",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "x": 680,
        "y": 800,
        "wires": [
            [
                "187c7c166b0792f5"
            ]
        ]
    },
    {
        "id": "50c07b1507646cb1",
        "type": "junction",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "x": 640,
        "y": 480,
        "wires": [
            [
                "187c7c166b0792f5"
            ]
        ]
    },
    {
        "id": "01bcb655e5f9e24c",
        "type": "junction",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "x": 640,
        "y": 360,
        "wires": [
            [
                "187c7c166b0792f5"
            ]
        ]
    },
    {
        "id": "aaa732cecf64de8d",
        "type": "junction",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "x": 660,
        "y": 660,
        "wires": [
            [
                "187c7c166b0792f5"
            ]
        ]
    },
    {
        "id": "91d0333d46f8e7f4",
        "type": "debug",
        "z": "858a25ec633e15aa",
        "g": "f21209a191164954",
        "name": "standard output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "980cfa1b7c1b3a5f",
        "type": "uibuilder",
        "z": "858a25ec633e15aa",
        "g": "f21209a191164954",
        "name": "",
        "topic": "",
        "url": "uib-router-eg",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": true,
        "sourceFolder": "src",
        "deployedVersion": "6.6.0",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "editurl": "vscode://file/src/uibRoot/uib-router-eg/?windowId=_blank",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "91d0333d46f8e7f4"
            ],
            [
                "9606554c9605cf4d"
            ]
        ]
    },
    {
        "id": "13bb356399138c24",
        "type": "link in",
        "z": "858a25ec633e15aa",
        "g": "f21209a191164954",
        "name": "uib-upd-egs - no cache",
        "links": [
            "e19d149f7048e3ac",
            "fd13d17eae4944b8"
        ],
        "x": 295,
        "y": 160,
        "wires": [
            [
                "e610deb0d3b69094"
            ]
        ]
    },
    {
        "id": "59925a9e660a9e95",
        "type": "link in",
        "z": "858a25ec633e15aa",
        "g": "f21209a191164954",
        "name": "uib-upd-egs - cached",
        "links": [
            "eb268d3e884b4b1c",
            "ecab20dc9292cda8",
            "102522874d1acb22",
            "53caac08d362a64b"
        ],
        "x": 205,
        "y": 240,
        "wires": [
            [
                "43e63c95d634a048"
            ]
        ]
    },
    {
        "id": "43e63c95d634a048",
        "type": "uib-cache",
        "z": "858a25ec633e15aa",
        "g": "f21209a191164954",
        "cacheall": false,
        "cacheKey": "topic",
        "newcache": true,
        "num": 1,
        "storeName": "default",
        "name": "Cache (by topic)",
        "storeContext": "context",
        "varName": "uib_cache",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "980cfa1b7c1b3a5f"
            ]
        ]
    },
    {
        "id": "eb268d3e884b4b1c",
        "type": "link out",
        "z": "858a25ec633e15aa",
        "g": "f21209a191164954",
        "name": "link out 68",
        "mode": "link",
        "links": [
            "59925a9e660a9e95"
        ],
        "x": 765,
        "y": 220,
        "wires": []
    },
    {
        "id": "09151d9dbab7fce8",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "g": "f21209a191164954",
        "name": "Clear Cache",
        "props": [
            {
                "p": "uibuilderCtrl",
                "v": "clear cache",
                "vt": "str"
            },
            {
                "p": "cacheControl",
                "v": "CLEAR",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "43e63c95d634a048"
            ]
        ]
    },
    {
        "id": "8fe9cca36746933e",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "setup all FE files",
        "x": 95,
        "y": 360,
        "wires": [
            [
                "8af6244dc82f99f2",
                "631bd40ef94fd12c",
                "d975894b5c20ed71",
                "5d7e4ff16bfbb57f",
                "caafd04f335931d9",
                "e4590ec06ae7df56",
                "4ba799cdfa5b4f0a",
                "83a17f2b3da8c36b"
            ]
        ],
        "l": false
    },
    {
        "id": "b90be49846f3f6ba",
        "type": "template",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "index.html",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<!doctype html>\n<html lang=\"en\"><head>\n\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"icon\" href=\"../uibuilder/images/node-blue.ico\">\n\n    <title>FE Router - Node-RED uibuilder</title>\n    <meta name=\"description\" content=\"Node-RED uibuilder - FE Router\">\n\n    <!-- Your own CSS (defaults to loading uibuilders css)-->\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"./index.css\" media=\"all\">\n    <!-- Optional CSS for Markdown code highlighting -->\n    <link type=\"text/css\" rel=\"stylesheet\"\n        href=\"https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/styles/hybrid.min.css\">\n    \n    <!-- #region Supporting Scripts. These MUST be in the right order. Note no leading / -->\n    <!-- Optional library for highlighting Markdown code blocks -->\n    <script defer src=\"https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js\"></script>\n    <!-- Optional Markdown-IT library - needed for Markdown content routes -->\n    <script defer src=\"https://cdn.jsdelivr.net/npm/markdown-it@latest/dist/markdown-it.min.js\"></script>\n    <script defer src=\"../uibuilder/uibuilder.iife.min.js\"></script>\n    <script defer src=\"../uibuilder/utils/uibrouter.iife.min.js\"></script>\n    <script defer src=\"./index.js\"></script>\n    <!-- #endregion -->\n\n    <template id=\"route01\">\n        <h2>This comes from an internal <code class=\"r01style\">&lt;template></code> tag</h2>\n        <div>\n            Route 1\n        </div>\n        <script>\n            console.log('I was produced by a script in Route 1')\n        </script>\n        <style>\n            .r01style {\n                background-color: yellow;\n                color: blue;\n                font-weight: 900;\n            }\n        </style>\n    </template>\n    <template id=\"route02\">\n        <h2>This also comes from an internal <code>&lt;template></code> tag</h2>\n        <div class=\"extraclass\">\n            Route 2\n        </div>\n    </template>\n    <template id=\"route06\">\n        <h2>This also comes from an internal <code>&lt;template></code> tag</h2>\n        <div class=\"extraclass\">\n            Route 6\n        </div>\n    </template>\n    <!-- NB: Markdown cannot be defined in a template, must be external -->\n\n</head><body>\n    <script>\n        console.log('a script at the start of body')\n    </script>\n\n    <header>\n        <h1 class=\"with-subtitle\">An example of a framework-less front-end router</h1>\n        <div role=\"doc-subtitle\">Using the UIBUILDER IIFE library.</div>\n\n        <h2 class=\"with-subtitle\">Current Route Title: <uib-var variable=\"uibrouter_CurrentTitle\"></uib-var></h2>\n        <div role=\"doc-subtitle\"><uib-var variable=\"uibrouter_CurrentDescription\"></uib-var></div>\n\n        <div href=\"#route01\" onclick=\"router.doRoute(event)\" class=\"border\" style=\"cursor: pointer;\">Goto route #1 via click event handler</div>\n    </header>\n\n    <main>\n        <div id=\"more\"><!-- '#more' is used as a parent for dynamic HTML content in examples --></div>\n    \n        <div id=\"uibroutecontainer\"><!-- router content will appear here --></div>\n    </main>\n\n    <footer uib-topic=\"footer\">\n        <!-- Can be set dynamically from Node-RED -->\n    </footer>\n\n</body></html>",
        "output": "str",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "01bcb655e5f9e24c"
            ]
        ]
    },
    {
        "id": "95521b5e3f43c779",
        "type": "template",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "index.js",
        "field": "payload",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "plain",
        "template": "// @ts-nocheck\n/*globals UibRouter, uibuilder */\n\nconst routerConfig = {\n    // Router templates created inside the routeContainer, specify an CSS selector\n    // If not provided, defaults to '#routecontainer'\n    // If no element with the ID exists on the page, a div with the id is added as the last element of the body.\n    // routeContainer: '#routecontainer',\n\n    // Optionally, chose a default route id to be displayed on load\n    // If not given, the first defined route is used.\n    defaultRoute: 'route03',\n\n    // Optional, default=false. False unloads route content when going to a new route.\n    // Set to true to (un)hide rather than unload the actual route elements. \n    // hide: false,\n\n    // Optional, default=false. False loads external templates on first use.\n    // Set to `true` to pre-load all external templates\n    // templateLoadAll: true,\n\n    // Optional, default=true. If true, templates are unloaded after use.\n    // Only set to false if your network is slow to load the templates.\n    // templateUnload: true,\n\n    // Define the possible routes type=url for externals\n    // Can be an object or an array but each entry must be an object containing {id,src,type}\n    //   type can be anything but only `url` will be treated as an external template file.\n    //   src is either a CSS selector for a <template> or a URL of an HTML file.\n    //   id must match the href=\"#routeid\" in any menu/link. and `<template id=\"routeid\">` on any loaded template\n    //      must be unique on the page\n    routes: [\n        {\n            id: 'route01', src: '#route01',\n            title: 'Route 1', description: 'My first route',\n        }, {\n            id: 'route02', src: '#route02',\n            title: 'Route 2', description: 'My second route',\n        }, {\n            id: 'route03', src: './fe-routes/route03.html', type: 'url',\n            title: 'Route 3', description: 'My third route',\n        },\n        // Doesn't exist. Tests load error\n        {id: 'route04', src: './fe-routes/dummy.html', type: 'url'},\n        // Testing Markdown templates - Markdown-IT Library must be loaded\n        {\n            id: 'route-md-01', src: './fe-routes/route-md-01.md', type: 'url',\n            title: 'Markdown Route 1', format: 'markdown',\n            description: 'A route defined using markdown #1',\n        }, {\n            id: 'route-md-02', src: './fe-routes/route-md-02.md', type: 'url',\n            title: 'Markdown Route 2', format: 'markdown',\n            description: 'A route defined using markdown #2',\n        },\n    ],\n\n    // OPTIONAL. If present, external html is loaded direct to DOM\n    // Templates that fail to load are ignored\n    otherLoad: [\n        {\n            id: 'main-menu',\n            src: './fe-routes/main-menu.html',\n            container: 'header',\n        }\n    ],\n}\nconst router = new UibRouter(routerConfig)\n\n// Example of dynamically adding additional routes -> must be external or have existing templates\n// Note that this isn't a particularly good idea since an externally loaded route, if pre-selected\n// on page load will not be able to find the route. The default route will be used instead and an\n// error is printed to the console.\n// So if wanting to dynamically add routes, it is best to also use the `defaultRouteOnLoad` option.\nconst extraRoutes = [\n    { id: 'route05', src: './fe-routes/route05.html', type: 'url', title: 'Route 5' },\n    // Test late loading a non-existant external template\n    { id: 'dead-duck2', src: './fe-routes/dummy.html', type: 'url' },\n    { id: 'route06', src: '#route06' /* NB: No title specified */ },\n]\nrouter.addRoutes(extraRoutes)\n\n// Currently no way to dynamically add new routes from Node-RED\n// So we need to do it here\nuibuilder.onTopic('addRoute', (msg) => {\n    router.addRoutes(msg.payload)\n    console.log('Route added from Node-RED', msg.payload.id)\n})\n\n// Load something other than a route - maybe a menu\nrouter.loadOther({\n    id: 'fred',\n    src: './fe-routes/menu1.html',\n    container: '#more',\n})\n\n// Example of changing route from code (after 5 seconds):\n// setTimeout(() => {\n//     router.doRoute('route01')\n// }, 5000)\n\n/** If you need to be certain that all external route templates\n *  have loaded before doing something, this is how. */\n// uibuilder.onChange('uibrouter', uibrouter => {\n//     if (uibrouter === 'loaded') {\n//         // Do stuff\n//     }\n// })\n\n// note that, unlike uibuilder.watchUrlHash(), these also report the initial load route as well.\n/** Monitor route changes in code */\n// uibuilder.onChange('uibrouter_CurrentRoute', (routeId) => {\n//     console.log(`ROUTE CHANGED. New Route: ${routeId}`)\n//     // To get the previous route, use: router.previousRouteId\n//     // To get the current route's config, use: router.currentRoute()\n//     // To manually notify Node-RED: uibuilder.send({topic: 'route-change', payload: {newRoute: routeId, oldRoute: router.previousRouteId}})\n//     uibuilder.send({topic: 'route-change', payload: { newRoute: routeId, oldRoute: router.previousRouteId }})\n// })\n/** Monitor route changes in code and get the new route config */\n// uibuilder.onChange('uibrouter_CurrentDetails', (routeConfig) => {\n//     console.log('ROUTE CHANGED. New Route Details: ', routeConfig)\n//     // To manually notify Node-RED: uibuilder.send(topic: 'route-change-details', payload: routeConfig)\n//     uibuilder.send({ topic: 'route-change', payload: routeConfig })\n// })\n",
        "output": "str",
        "x": 540,
        "y": 400,
        "wires": [
            [
                "01bcb655e5f9e24c"
            ]
        ]
    },
    {
        "id": "458a4019ee805475",
        "type": "template",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "route03.html",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<style>\n    /* Note that these only exist when this route is showing */\n    .extraclass {\n        color: green;\n        border: 2px solid var(--warning);\n        padding: 1em;\n    }\n    .coolclass {\n        background-color: var(--surface4);\n        border: 2px solid var(--info-intense);\n        padding: 1em;\n        margin: .5em 0;\n    }\n</style>\n<script>\n    // ! WARNING: This will be re-run EVERY time the route is shown - use with caution.\n    // Here we use a simple global variable to ensure we only ever run once.\n    // Also note that deleting a route that has previously displayed will not \n    //   remove any global values set here including even handlers.\n    \n    console.log('route03 external: built-in script running ...')\n\n    if (!window['mysensor']) window['mysensor'] = {temperature: 'N/A', humdity: 'N/A' }\n    else {\n        let e =  $('#mytemp') // make sure the element exists\n        if (e) e.innerText = window['mysensor'].temperature // update if it exists\n        e =  $('#myhumid') // make sure the element exists\n        if (e) e.innerText = window['mysensor'].humidity // update if it exists\n    }\n\n    if (!window['route3Run']) { // make sure this is unique across routes\n\n        // A function to use in <a href=\"#routeid\" onclick=\"doClick1(event)\">\n        // function doClick1(event) {\n        //     console.log('You did a click1 (onclick=\"router.doRoute(event)\")', event)\n        // }\n\n        // Alternative to using onclick is to add the handler via code\n        // const r03d02 = $('#r03d02')\n        // if (r03d02) r03d02.addEventListener('click', (event) => {\n        // $('#r03d02').addEventListener('click', (event) => {\n        //     console.log('You did a different click (addEventListener)', event)\n        // })\n        // or even:\n        // r03d02.addEventListener('click', doClick1)\n\n        // Example of updating the UI direct from a Node-RED message\n        uibuilder.onChange('msg', (msg) => {\n            console.log('msg from Node-RED handled in a route')\n            if(msg.topic === 'mysensor') {\n                let e =  $('#mytemp') // make sure the element exists\n                if (e) e.innerText = msg.payload.temperature // update if it exists\n                window['mysensor'].temperature = msg.payload.temperature\n                e =  $('#myhumid') // make sure the element exists\n                if (e) e.innerText = msg.payload.humidity // update if it exists\n                window['mysensor'].humidity = msg.payload.humidity\n            }\n        })\n        // You could instead use the `uib-update` node to avoid this code.\n    }\n    // Make sure we only run the above once.\n    route3Run = true\n</script>\n\n<h2>This comes from an external file</h2>\n<div  id=\"r03d01\" class=\"extraclass\">\n    Route 3 part 1\n</div>\n<div id=\"r03d02\" class=\"extraclass\">\n    Route 3 part 2\n    <button type=\"button\" onclick=\"uibuilder.eventSend(event)\">Msg to Node-RED</button>\n</div>\n<div class=\"coolclass\">\n    Temperature: <span id=\"mytemp\">...</span>℃<br>\n    Humidity: <span id=\"myhumid\">...</span>%\n</div>\n",
        "output": "str",
        "x": 530,
        "y": 480,
        "wires": [
            [
                "50c07b1507646cb1"
            ]
        ]
    },
    {
        "id": "0b263d2d25010d6d",
        "type": "template",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "route05.html",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<h2>This comes from an external file - <code>./fe-routes/route05.html</code></h2>\n<div  id=\"r04d01\" class=\"extraclass\">\n    Route 5 part 1\n</div>\n<div id=\"r04d02\" class=\"extraclass\">\n    Route 5 part 2\n</div>\n",
        "output": "str",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "50c07b1507646cb1"
            ]
        ]
    },
    {
        "id": "8af6244dc82f99f2",
        "type": "change",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "index.html",
        "rules": [
            {
                "t": "set",
                "p": "fname",
                "pt": "msg",
                "to": "index.html",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "b90be49846f3f6ba"
            ]
        ]
    },
    {
        "id": "631bd40ef94fd12c",
        "type": "change",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "index.js",
        "rules": [
            {
                "t": "set",
                "p": "fname",
                "pt": "msg",
                "to": "index.js",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "95521b5e3f43c779"
            ]
        ]
    },
    {
        "id": "d975894b5c20ed71",
        "type": "change",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "fe-routes/route03.html",
        "rules": [
            {
                "t": "set",
                "p": "fname",
                "pt": "msg",
                "to": "fe-routes/route03.html",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "458a4019ee805475"
            ]
        ]
    },
    {
        "id": "5d7e4ff16bfbb57f",
        "type": "change",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "fe-routes/route05.html",
        "rules": [
            {
                "t": "set",
                "p": "fname",
                "pt": "msg",
                "to": "fe-routes/route05.html",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 520,
        "wires": [
            [
                "0b263d2d25010d6d"
            ]
        ]
    },
    {
        "id": "cb8dd79b4401d55b",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "g": "b2e2e4f4a60fd9b5",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "setup all FE files",
        "x": 95,
        "y": 960,
        "wires": [
            [
                "27be3cdf555eda2d"
            ]
        ],
        "l": false
    },
    {
        "id": "27be3cdf555eda2d",
        "type": "template",
        "z": "858a25ec633e15aa",
        "g": "b2e2e4f4a60fd9b5",
        "name": "route07 template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<h2>dynamically loaded from Node-RED</h2>\n<p>\n    A template created in Node-RED and sent to\n    clients using a uib-tag node to create the template\n    via a uib-cache node. So (re)-loaded as needed.\n</p>\n<div  id=\"r07d01\" class=\"extraclass\">\n    Route 7 part 1\n</div>\n<div id=\"r07d02\" class=\"extraclass\">\n    Route 7 part 2\n</div>\n",
        "output": "str",
        "x": 220,
        "y": 960,
        "wires": [
            [
                "ec6df20997951cf7"
            ]
        ]
    },
    {
        "id": "ec6df20997951cf7",
        "type": "uib-tag",
        "z": "858a25ec633e15aa",
        "g": "b2e2e4f4a60fd9b5",
        "name": "",
        "topic": "",
        "tag": "template",
        "tagSource": "",
        "tagSourceType": "str",
        "parent": "head",
        "parentSource": "",
        "parentSourceType": "str",
        "elementId": "route07",
        "elementIdSourceType": "str",
        "position": "last",
        "positionSourceType": "str",
        "slotSourceProp": "payload",
        "slotSourcePropType": "msg",
        "attribsSource": "",
        "attribsSourceType": "msg",
        "slotPropMarkdown": false,
        "x": 440,
        "y": 960,
        "wires": [
            [
                "4cdd6baae105795e"
            ]
        ]
    },
    {
        "id": "ecab20dc9292cda8",
        "type": "link out",
        "z": "858a25ec633e15aa",
        "g": "b2e2e4f4a60fd9b5",
        "name": "link out 79",
        "mode": "link",
        "links": [
            "59925a9e660a9e95"
        ],
        "x": 1075,
        "y": 960,
        "wires": []
    },
    {
        "id": "0b2acae2bf016a98",
        "type": "change",
        "z": "858a25ec633e15aa",
        "g": "b2e2e4f4a60fd9b5",
        "name": "Add route to route list var",
        "rules": [
            {
                "t": "delete",
                "p": "_ui",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"route07\",\"src\":\"#route07\",\"title\":\"Route #7\",\"description\":\"Yet another route, #7\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "addRoute",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1000,
        "wires": [
            [
                "ecab20dc9292cda8"
            ]
        ]
    },
    {
        "id": "e22db07169092461",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "g": "42ec81af91b01446",
        "name": "Navigate to #route07 using uibuilder external command",
        "props": [
            {
                "p": "_uib",
                "v": "{\"command\":\"navigate\",\"prop\":\"#route07\"}",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "uib-command-route-change",
        "x": 280,
        "y": 1120,
        "wires": [
            [
                "e19d149f7048e3ac"
            ]
        ],
        "info": "Change the \"prop\" value to a CSS Selector.\r\n\r\nThe display will appear as the last child of\r\nthat selected element.\r\n\r\ne.g. `body` or `#more`."
    },
    {
        "id": "e19d149f7048e3ac",
        "type": "link out",
        "z": "858a25ec633e15aa",
        "g": "42ec81af91b01446",
        "name": "no-cache",
        "mode": "link",
        "links": [
            "13bb356399138c24"
        ],
        "x": 600,
        "y": 1120,
        "wires": [],
        "l": true
    },
    {
        "id": "4cdd6baae105795e",
        "type": "uib-tag",
        "z": "858a25ec633e15aa",
        "g": "b2e2e4f4a60fd9b5",
        "name": "Add to main menu",
        "topic": "",
        "tag": "li",
        "tagSource": "",
        "tagSourceType": "str",
        "parent": "#routemenu",
        "parentSource": "",
        "parentSourceType": "str",
        "elementId": "",
        "elementIdSourceType": "str",
        "position": "last",
        "positionSourceType": "str",
        "slotSourceProp": "<a href=\"#route07\">#7</a>",
        "slotSourcePropType": "str",
        "attribsSource": "{\"data-route\":\"router07\", \"tabindex\":0, \"role\":\"menuitem\"}",
        "attribsSourceType": "json",
        "slotPropMarkdown": false,
        "x": 670,
        "y": 960,
        "wires": [
            [
                "0b2acae2bf016a98",
                "b27f8c5030eac36f"
            ]
        ]
    },
    {
        "id": "59c26c2bdff82dde",
        "type": "comment",
        "z": "858a25ec633e15aa",
        "name": "Front-end router library tests and examples. \\n After import, (1) change the URL in uibuilder node then deploy, (2) change the selection in the uib-save node and deploy again, \\n (3) Run the Front-end Code flow. Example is then ready to use.",
        "info": "",
        "x": 460,
        "y": 60,
        "wires": []
    },
    {
        "id": "f94257739947b92a",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "name": "Toggle Visible Msgs",
        "props": [
            {
                "p": "_uib",
                "v": "{\"command\":\"showMsg\", \"pageName\": \"index.html\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "102522874d1acb22"
            ]
        ]
    },
    {
        "id": "0fdc75e49be41fc5",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "name": "Log Lvl 5",
        "props": [
            {
                "p": "_uib",
                "v": "{\"command\":\"set\",\"prop\":\"logLevel\",\"value\":5}",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Set-log-level",
        "x": 1200,
        "y": 380,
        "wires": [
            [
                "102522874d1acb22"
            ]
        ]
    },
    {
        "id": "efe361618d27d32d",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "name": "Log Lvl 0",
        "props": [
            {
                "p": "_uib",
                "v": "{\"command\":\"set\",\"prop\":\"logLevel\",\"value\":0}",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Set-log-level",
        "x": 1200,
        "y": 420,
        "wires": [
            [
                "102522874d1acb22"
            ]
        ]
    },
    {
        "id": "102522874d1acb22",
        "type": "link out",
        "z": "858a25ec633e15aa",
        "name": "cached",
        "mode": "link",
        "links": [
            "59925a9e660a9e95"
        ],
        "x": 1370,
        "y": 380,
        "wires": [],
        "l": true
    },
    {
        "id": "12f9ccbea3c0e114",
        "type": "comment",
        "z": "858a25ec633e15aa",
        "name": "Example updated: 2024-02-11",
        "info": "",
        "x": 1080,
        "y": 40,
        "wires": []
    },
    {
        "id": "187c7c166b0792f5",
        "type": "uib-save",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "url": "uib-router-eg",
        "uibId": "980cfa1b7c1b3a5f",
        "folder": "src",
        "fname": "",
        "createFolder": false,
        "reload": true,
        "usePageName": false,
        "encoding": "utf8",
        "mode": 438,
        "name": "",
        "topic": "",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "9606554c9605cf4d",
        "type": "switch",
        "z": "858a25ec633e15aa",
        "g": "f21209a191164954",
        "name": "Route different control msgs",
        "property": "uibuilderCtrl",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "client (dis)?connect",
                "vt": "str",
                "case": false
            },
            {
                "t": "eq",
                "v": "route change",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "visibility",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 705,
        "y": 240,
        "wires": [
            [
                "eb268d3e884b4b1c",
                "8457d8b3ac1857e5"
            ],
            [
                "a3c8fd673e19703a"
            ],
            [],
            []
        ],
        "outputLabels": [
            "Network (socket) client connect/disconnect",
            "uibrouter route changes",
            "page visibility",
            "Anything else"
        ],
        "l": false
    },
    {
        "id": "8457d8b3ac1857e5",
        "type": "debug",
        "z": "858a25ec633e15aa",
        "d": true,
        "g": "f21209a191164954",
        "name": "uib client connect/disconnect Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 815,
        "y": 220,
        "wires": [],
        "l": false
    },
    {
        "id": "a3c8fd673e19703a",
        "type": "debug",
        "z": "858a25ec633e15aa",
        "g": "f21209a191164954",
        "name": "route changes",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "caafd04f335931d9",
        "type": "change",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "fe-routes/menu1.html",
        "rules": [
            {
                "t": "set",
                "p": "fname",
                "pt": "msg",
                "to": "fe-routes/main-menu.html",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 800,
        "wires": [
            [
                "47de9c4ae8e037a2"
            ]
        ]
    },
    {
        "id": "47de9c4ae8e037a2",
        "type": "template",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "main-menu.html",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<nav id=\"main-menu\" class=\"horizontal\" aria-labelledby=\"primary-navigation\">\n        <h2 id=\"primary-navigation\">Menu</h2>:\n        <ul id=\"routemenu\" role=\"menubar\" aria-describedby=\"main-menu\">\n                <!-- <li><a href=\"#route01\" onclick=\"router.doRoute(event)\">#1</a></li> -->\n                <li data-route=\"route01\" tabindex=\"0\" role=\"menuitem\"><a href=\"#route01\">#1</a></li>\n                <li data-route=\"route02\" tabindex=\"0\" role=\"menuitem\"><a href=\"#route02\">#2</a></li>\n                <li data-route=\"route03\" tabindex=\"0\" role=\"menuitem\"><a href=\"#route03\">#3</a></li>\n                <li data-route=\"route04\" tabindex=\"0\" role=\"menuitem\"><a href=\"#route04\">#4</a></li>\n                <li data-route=\"route05\" tabindex=\"0\" role=\"menuitem\"><a href=\"#route05\">#5</a></li>\n                <li data-route=\"route06\" tabindex=\"0\" role=\"menuitem\"><a href=\"#route06\">#6</a></li>\n\n                <li data-route=\"route-md-01\" tabindex=\"0\" role=\"menuitem\"><a href=\"#route-md-01\">#md1</a></li>\n                <li data-route=\"route-md-02\" tabindex=\"0\" role=\"menuitem\"><a href=\"#route-md-02\">#md2</a></li>\n        </ul>\n</nav>",
        "output": "str",
        "x": 540,
        "y": 800,
        "wires": [
            [
                "bece28fe9f3d134f"
            ]
        ]
    },
    {
        "id": "4ba799cdfa5b4f0a",
        "type": "change",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "fe-routes/menu1.html",
        "rules": [
            {
                "t": "set",
                "p": "fname",
                "pt": "msg",
                "to": "fe-routes/menu1.html",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 840,
        "wires": [
            [
                "b0a9818541821eab"
            ]
        ]
    },
    {
        "id": "b0a9818541821eab",
        "type": "template",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "menu1.html",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<nav aria-labelledby=\"menueg1\">\n    <details>\n        <summary><h2 id=\"menueg2\">Example Menu</h2></summary>\n        <ul id=\"routemenu2\" role=\"menubar\" aria-describedby=\"menueg1\">\n            <li data-route=\"route01\" tabindex=\"0\" role=\"menuitem\"><a href=\"#route01\">#1 (Internal template)</a></li>\n            <li data-route=\"route02\" tabindex=\"0\" role=\"menuitem\"><a href=\"#route02\">#2 (Internal template)</a></li>\n\n            <li data-route=\"route03\" tabindex=\"0\" role=\"menuitem\">\n                <a href=\"#route03\">#3 (External template)</a>\n            </li>\n\n            <li data-route=\"route04\" tabindex=\"0\" role=\"menuitem\">\n                <a href=\"#route04\">#4 (fails as the external route template doesn't exist)</a>\n            </li>\n\n            <li data-route=\"route05\" tabindex=\"0\" role=\"menuitem\">\n                <a href=\"#route05\">#5 (External template added by script, if pre-selected on load, will fail)</a>\n            </li>\n            <li data-route=\"route06\" tabindex=\"0\" role=\"menuitem\">\n                <a href=\"#route06\">#6 (Internal template added by script, if pre-selected on load, will fail)</a>\n            </li>\n\n            <li data-route=\"route-md-01\" tabindex=\"0\" role=\"menuitem\">\n                <a href=\"#route-md-01\">#md1 (Internal Markdown template)</a>\n            </li>\n            <li data-route=\"route-md-02\" tabindex=\"0\" role=\"menuitem\">\n                <a href=\"#route-md-02\">#md2 (External Markdown template)</a>\n            </li>\n        </ul>\n    </details>\n</nav>\n",
        "output": "str",
        "x": 530,
        "y": 840,
        "wires": [
            [
                "bece28fe9f3d134f"
            ]
        ]
    },
    {
        "id": "fd13d17eae4944b8",
        "type": "link out",
        "z": "858a25ec633e15aa",
        "g": "64f27f70317addeb",
        "name": "no-cache",
        "mode": "link",
        "links": [
            "13bb356399138c24"
        ],
        "x": 600,
        "y": 1260,
        "wires": [],
        "l": true
    },
    {
        "id": "7ec20bc2227746fd",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "g": "64f27f70317addeb",
        "name": "Change Footer HTML & attributes via uib-topic attribute in html",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "attributes",
                "v": "{\"style\":\"background-color:blueviolet; border:1px solid silver\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "footer",
        "payload": "\"<div>This is an HTML footer sent from Node-RED.\" & \t$formatInteger($random() * 100, \"0\") &\t\"</div>\"",
        "payloadType": "jsonata",
        "x": 300,
        "y": 1260,
        "wires": [
            [
                "fd13d17eae4944b8"
            ]
        ],
        "info": "Change the \"prop\" value to a CSS Selector.\r\n\r\nThe display will appear as the last child of\r\nthat selected element.\r\n\r\ne.g. `body` or `#more`."
    },
    {
        "id": "e4590ec06ae7df56",
        "type": "change",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "fe-routes/route-md-01.md",
        "rules": [
            {
                "t": "set",
                "p": "fname",
                "pt": "msg",
                "to": "fe-routes/route-md-01.md",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 660,
        "wires": [
            [
                "c4b89d6b9c839670"
            ]
        ]
    },
    {
        "id": "c4b89d6b9c839670",
        "type": "template",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "route-md-01.md",
        "field": "payload",
        "fieldType": "msg",
        "format": "markdown",
        "syntax": "plain",
        "template": "## This is Markdown Route 01\n\nIt is rendered only if the Markdown-IT library is loaded.\n\n1. Num list a\n1. Num list b\n\n> [!TIP]\n> Markdown routes have to be external files because they\n> may contain characters that HTML uses for itself.\n",
        "output": "str",
        "x": 540,
        "y": 660,
        "wires": [
            [
                "aaa732cecf64de8d"
            ]
        ]
    },
    {
        "id": "7c2e4dc3a5fc37d1",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "g": "bf7634abe1ae0a29",
        "name": "Dynamic load MarkdownIT from CDN",
        "props": [
            {
                "p": "_ui",
                "v": "{\"method\":\"load\",\"srcScripts\":[\"https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js\"]}",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "load-markdownit-cdn",
        "x": 230,
        "y": 1400,
        "wires": [
            [
                "53caac08d362a64b"
            ]
        ]
    },
    {
        "id": "347fadaaa2da1289",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "g": "bf7634abe1ae0a29",
        "name": "Remove MarkdownIT",
        "props": [
            {
                "p": "_ui",
                "v": "[{\"method\":\"removeAll\",\"components\":[\"head > script[src*='markdown-it']\"]}]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 280,
        "y": 1440,
        "wires": [
            [
                "53caac08d362a64b"
            ]
        ]
    },
    {
        "id": "53caac08d362a64b",
        "type": "link out",
        "z": "858a25ec633e15aa",
        "g": "bf7634abe1ae0a29",
        "name": "cached",
        "mode": "link",
        "links": [
            "59925a9e660a9e95"
        ],
        "x": 600,
        "y": 1400,
        "wires": [],
        "l": true
    },
    {
        "id": "b27f8c5030eac36f",
        "type": "uib-tag",
        "z": "858a25ec633e15aa",
        "g": "b2e2e4f4a60fd9b5",
        "name": "Add to menu 2",
        "topic": "",
        "tag": "li",
        "tagSource": "",
        "tagSourceType": "str",
        "parent": "#routemenu2",
        "parentSource": "",
        "parentSourceType": "str",
        "elementId": "",
        "elementIdSourceType": "str",
        "position": "last",
        "positionSourceType": "str",
        "slotSourceProp": "<a href=\"#route07\">#7 (Internal from Node-RED)</a>",
        "slotSourcePropType": "str",
        "attribsSource": "{\"data-route\":\"router07\", \"tabindex\":0, \"role\":\"menuitem\"}",
        "attribsSourceType": "json",
        "slotPropMarkdown": false,
        "x": 900,
        "y": 960,
        "wires": [
            [
                "ecab20dc9292cda8"
            ]
        ]
    },
    {
        "id": "a7fbc55cdbcb5276",
        "type": "comment",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "Use loadOther to load menu's from external files",
        "info": "",
        "x": 400,
        "y": 760,
        "wires": []
    },
    {
        "id": "b71e0313aa768758",
        "type": "comment",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "External Markdown Templates. Load HighlightJS \\n & Markdown-IT libraries to see them correctly rendered \\n NB: Markdown routes have to be external due to HTML limitations",
        "info": "",
        "x": 449.99999237060547,
        "y": 590.0000152587891,
        "wires": []
    },
    {
        "id": "013554e8eb6f827c",
        "type": "comment",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "External Route Templates",
        "info": "",
        "x": 330,
        "y": 440,
        "wires": []
    },
    {
        "id": "c45b8e9ccc81f717",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "name": "Light",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mark-light",
        "payload": "{\"class\":\"light\"}",
        "payloadType": "json",
        "x": 1130,
        "y": 480,
        "wires": [
            [
                "289cab7108c3c6d3"
            ]
        ]
    },
    {
        "id": "289cab7108c3c6d3",
        "type": "uib-update",
        "z": "858a25ec633e15aa",
        "name": "Set Light/Dark mode",
        "topic": "",
        "mode": "update",
        "modeSourceType": "modeType",
        "cssSelector": "html",
        "cssSelectorType": "str",
        "slotSourceProp": "",
        "slotSourcePropType": "msg",
        "attribsSource": "payload",
        "attribsSourceType": "msg",
        "slotPropMarkdown": false,
        "x": 1320,
        "y": 480,
        "wires": [
            [
                "102522874d1acb22"
            ]
        ]
    },
    {
        "id": "71651be2e151af97",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "name": "Dark",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mark-dark",
        "payload": "{\"class\":\"dark\"}",
        "payloadType": "json",
        "x": 1130,
        "y": 520,
        "wires": [
            [
                "289cab7108c3c6d3"
            ]
        ]
    },
    {
        "id": "83a17f2b3da8c36b",
        "type": "change",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "fe-routes/route-md-02.md",
        "rules": [
            {
                "t": "set",
                "p": "fname",
                "pt": "msg",
                "to": "fe-routes/route-md-02.md",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 700,
        "wires": [
            [
                "db720cf9b976ecff"
            ]
        ]
    },
    {
        "id": "db720cf9b976ecff",
        "type": "template",
        "z": "858a25ec633e15aa",
        "g": "877f1fc905614aab",
        "name": "route-md-02.md",
        "field": "payload",
        "fieldType": "msg",
        "format": "markdown",
        "syntax": "plain",
        "template": "## This is Markdown Route 2\n\nRendered by Markdown-IT.\n\n* List 1\n* List 2\n\n```js\n// Some example JavaScript in a code block\nconst myvar = 42\nif (myvar > 40) {\n    console.log('Phew! Old')\n}\n```\n\n```html\n<!-- Some example HTML in a code block -->\n<ol class=\"border\">\n    <li>List Item #1</li>\n    <li>List Item #2</li>\n    <li>List Item #3</li>\n</ol>\n```\n\n> Note:\n>\n> The HighlightJS library and CSS must be pre-loaded\n> for the code blocks to render nicely.\n",
        "output": "str",
        "x": 540,
        "y": 700,
        "wires": [
            [
                "aaa732cecf64de8d"
            ]
        ]
    },
    {
        "id": "aa66551307e3b6d4",
        "type": "inject",
        "z": "858a25ec633e15aa",
        "g": "576f9015b0f83003",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1620,
        "wires": [
            [
                "049f08e41bfc252a"
            ]
        ]
    },
    {
        "id": "69ffcae200b26246",
        "type": "debug",
        "z": "858a25ec633e15aa",
        "g": "576f9015b0f83003",
        "name": "debug 158",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 775,
        "y": 1680,
        "wires": [],
        "l": false
    },
    {
        "id": "882dc0259aea61b7",
        "type": "uib-save",
        "z": "858a25ec633e15aa",
        "g": "576f9015b0f83003",
        "url": "uib-router-eg",
        "uibId": "980cfa1b7c1b3a5f",
        "folder": "src",
        "fname": "",
        "createFolder": false,
        "reload": false,
        "usePageName": false,
        "encoding": "utf8",
        "mode": 438,
        "name": "",
        "topic": "",
        "x": 1070,
        "y": 1620,
        "wires": []
    },
    {
        "id": "049f08e41bfc252a",
        "type": "uib-file-list",
        "z": "858a25ec633e15aa",
        "g": "576f9015b0f83003",
        "name": "",
        "topic": "",
        "url": "uib-router-eg",
        "uibId": "980cfa1b7c1b3a5f",
        "folder": "src",
        "filter": "fe-routes/*.html",
        "exclude": "fe-routes/*menu*",
        "urlOut": true,
        "live": true,
        "fullPrefix": true,
        "x": 390,
        "y": 1620,
        "wires": [
            [
                "2534986f7eb3b773",
                "c4974a063051a853"
            ]
        ]
    },
    {
        "id": "2534986f7eb3b773",
        "type": "template",
        "z": "858a25ec633e15aa",
        "g": "576f9015b0f83003",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<ul>\n{{#payload.results}}\n  <li>{{{.}}}</li>\n{{/payload.results}}\n</ul>",
        "output": "str",
        "x": 620,
        "y": 1620,
        "wires": [
            [
                "69ffcae200b26246"
            ]
        ]
    },
    {
        "id": "c4974a063051a853",
        "type": "debug",
        "z": "858a25ec633e15aa",
        "g": "576f9015b0f83003",
        "name": "debug 159",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 545,
        "y": 1680,
        "wires": [],
        "l": false
    },
    {
        "id": "fbd99e85d2b47c92",
        "type": "comment",
        "z": "858a25ec633e15aa",
        "name": "chg p.r to payload and p.config to config",
        "info": "",
        "x": 970,
        "y": 1520,
        "wires": []
    },
    {
        "id": "4da212bb651fc214",
        "type": "comment",
        "z": "858a25ec633e15aa",
        "name": "How to output router config or route menu?",
        "info": "",
        "x": 980,
        "y": 1560,
        "wires": []
    },
    {
        "id": "2886b31139e9472d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-uibuilder": "7.5.0"
        }
    }
]
