examples/jQuery.json
[
    {
        "id": "a8ef56e9.e61a98",
        "type": "debug",
        "z": "ff9704678e3a4b61",
        "name": "jquery-debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "2eb501ec.6cb09e",
        "type": "uibuilder",
        "z": "ff9704678e3a4b61",
        "name": "jQuery Example",
        "topic": "",
        "url": "example-jquery",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "templateFolder": "iife-blank-client",
        "extTemplate": "",
        "showfolder": false,
        "reload": true,
        "sourceFolder": "src",
        "deployedVersion": "6.1.0",
        "showMsgUib": true,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "a8ef56e9.e61a98"
            ],
            [
                "54132099.1a374"
            ]
        ]
    },
    {
        "id": "8f8cb1e.3cc5a5",
        "type": "inject",
        "z": "ff9704678e3a4b61",
        "name": "Simple Message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "uibuilder-jquery",
        "payload": "{\"lib\":\"jquery\", \"testNum\": 500}",
        "payloadType": "json",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "3fa064733f7c8a4f"
            ]
        ]
    },
    {
        "id": "54132099.1a374",
        "type": "debug",
        "z": "ff9704678e3a4b61",
        "name": "uib controls",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "f08129f6.4ada58",
        "type": "comment",
        "z": "ff9704678e3a4b61",
        "name": "uibuilder/jQuery Example - Read-me",
        "info": "This is an example of using jQuery with\nuibuilder. It shows how the 2 libraries can \nwork together.\n\nHowever, it is worth noting that jQuery no \nlonger gives you many advantages over plain \nHTML and JavaScript, especially when using  the \nhelper functions in the uibuilder modern front \nend library.\n\nUpdate for uibuilder v6.1.0\n\n## Configuration\n\nInstall jQuery via the uibuilder configuration\npanel.\n\nThen update the files:\n\n* `index.html`\n* `index.js`\n\nFrom the two comment nodes included.\n\n---\n\nA version of this example is also in the \nuibuilder [WIKI](https://github.com/TotallyInformation/node-red-contrib-uibuilder/wiki/Example:-JQuery).\n",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "c30edc95.8f826",
        "type": "comment",
        "z": "ff9704678e3a4b61",
        "name": "index.html",
        "info": "<!doctype html>\n<html lang=\"en\"><head>\n\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    <title>Minimal modern IIFE client example - Node-RED uibuilder</title>\n    <meta name=\"description\" content=\"Node-RED uibuilder - Minimal modern IIFE client example\">\n    <link rel=\"icon\" href=\"./images/node-blue.ico\">\n\n    <!-- Your own CSS -->\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"./index.css\" media=\"all\">\n\n    <!-- #region Supporting Scripts. These MUST be in the right order. Note no leading / - socket.io no longer needed  -->\n    <script defer src=\"../uibuilder/vendor/jquery/dist/jquery.min.js\">/*Install using uib library mgr*/</script>\n    <script defer src=\"../uibuilder/uibuilder.iife.min.js\"></script>\n    <script defer src=\"./index.js\">/* OPTIONAL: Put your custom code in that */</script>\n    <!-- #endregion -->\n\n</head><body class=\"uib\">\n    \n    <h1>uibuilder: Using jQuery</h1>\n    <!-- Updated for uibuilder v6.1.0 -->\n\n    <div id=\"jqMessage\"><!-- This is used for jQuery output in index.js --></div>\n\n    <div id=\"more\"><!-- '#more' is used as a parent for dynamic HTML content in examples --></div>\n\n    <div style=\"margin-top:1rem;margin-bottom:1rem;\">\n        <!-- Two different ways to send data back to Node-RED via buttons.\n            Click events are defined using jQuery in index.js in this example.\n            fnSendToNR uses standard `uibuilder.send`.\n            eventSend includes `data-*` attributes, keyb modifiers, etc. Works with any event. -->\n        <button id=\"btn1\">Send a msg back to Node-RED</button>\n        <!-- <button onclick=\"uibuilder.eventSend(event)\" data-type=\"eventSend\" data-foo=\"Bah\">eventSend</button> -->\n        <button id=\"btn2\" data-type=\"eventSend\" data-foo=\"Bah\">eventSend</button>\n    </div>\n    \n    <pre id=\"msg\" class=\"syntax-highlight\">Waiting for a message from Node-RED</pre>\n    \n</body></html>\n",
        "x": 600,
        "y": 80,
        "wires": [],
        "icon": "node-red/parser-html.svg"
    },
    {
        "id": "8bd07771.336748",
        "type": "comment",
        "z": "ff9704678e3a4b61",
        "name": "index.js",
        "info": "// @ts-nocheck\n\n/** Example of using the IIFE build of the uibuilder client library\n * Note that uibuilder.start() should no longer be needed.\n * See the documentation if the client doesn't start on its own.\n */\n'use strict'\n\nif (!window['jQuery']) {\n    uibuilder.log('error', 'index.js', 'jQuery is not available, have you installed it using uibuilder\\'s library manager?')\n    // jQuery $ not available so use uibuilder's to change the UI\n    uibuilder.$('#jqMessage').innerText = 'ERROR: jQuery is not available, have you installed it using uibuilder\\'s library manager?'\n} else jQuery('#jqMessage').text(`jQuery v${jQuery.fn.jquery} available. uibuilder ${uibuilder.get('version')} available. `)\n\n// logLevel 2+ shows more built-in logging. 0=error,1=warn,2=info,3=log,4=debug,5=trace.\n// uibuilder.set('logLevel', 2)\n// uibuilder.log('info', 'a prefix', 'some info', {any:'data',life:42})\n\n// NOTE that jQuery's $ function takes precedence over uibuilder's. Also, jQuery === $\n\n// When JQuery is ready\njQuery(function() {\n    // ... will run when jQuery is really ready. Probably not needed in most cases ...\n})\n\n// Listen for incoming messages from Node-RED\nuibuilder.onChange('msg', function(msg) {\n    $('#jqMessage').text('Got a message from Node-RED')\n    // Dump the msg as text to the \"msg\" html element\n    $('#msg').html(uibuilder.syntaxHighlight(msg))\n})\n\n// Send a custom message back to Node-RED using the standard send function\n$('#btn1').on('click', function fnSendToNR() {\n    uibuilder.send({\n        'topic': 'msg-from-uibuilder-front-end',\n        'payload': 'A message from the sharp end!',\n    })\n})\n\n// Send a standard message back to Node-RED using the event send function\n// eventSend includes `data-*` attributes, keyb modifiers, etc. Works with any event.\n// Note that it needs a DOM event, not a jQuery event.\n$('#btn2').on('click', function(jqEvent) {\n    uibuilder.eventSend(jqEvent.originalEvent)\n})\n",
        "x": 730,
        "y": 80,
        "wires": [],
        "icon": "font-awesome/fa-code"
    },
    {
        "id": "9a5c982eaf6425ee",
        "type": "inject",
        "z": "ff9704678e3a4b61",
        "name": "Upd the jqMessage: Doesn't need jQuery!",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "_ui",
                "v": "{\t   \"method\": \"update\",\t   \"id\": \"jqMessage\",\t   \"slot\": payload,\t   \"xattributes\": {\t       \"title\": topic\t   }\t}",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "uibuilder-jquery",
        "payload": "A message from Node-RED!",
        "payloadType": "str",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "3fa064733f7c8a4f"
            ]
        ]
    },
    {
        "id": "64ad8eb1adc47241",
        "type": "link in",
        "z": "ff9704678e3a4b61",
        "name": "link in 4",
        "links": [
            "3fa064733f7c8a4f"
        ],
        "x": 225,
        "y": 140,
        "wires": [
            [
                "2eb501ec.6cb09e"
            ]
        ]
    },
    {
        "id": "3fa064733f7c8a4f",
        "type": "link out",
        "z": "ff9704678e3a4b61",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "64ad8eb1adc47241"
        ],
        "x": 815,
        "y": 240,
        "wires": []
    }
]
